<html>
<header>This is a header</header>
<body>
<ul>
  <il>Menu 1</il>
  <il>Menu 2</il>
</ul>
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/pages.css.scss">.
  <div class="main">
  
<p>Peter</p>
  <p>I am coding</p>
  <button type="button">View My work!</button>
    
    </div>
 </body>
  <footer>
    <ul>
      <il><a href="http://www.linkedin.com">linkedin</a></il>
  <il><a href="http://www.github.com">github</a></il>
      <il><a href="http://www.twitter.com">twitter</a></il>
</ul>
    </footer>
  </html>